adf_pipeline/pipeline.json
{
    "name": "pipeline1",
    "properties": {
        "activities": [
            {
                "name": "Bronze Notebook",
                "type": "DatabricksNotebook",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/cesar_ernesto72@hotmail.com/earthquake_project/Bronze_notebook",
                    "baseParameters": {
                        "start_date": {
                            "value": "@formatDateTime(addDays(utcnow(), -1), 'yyyy-MM-dd')",
                            "type": "Expression"
                        },
                        "end_date": {
                            "value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks1",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Silver Notebook",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Bronze Notebook",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/cesar_ernesto72@hotmail.com/earthquake_project/Silver notebook",
                    "baseParameters": {
                        "bronze_params": {
                            "value": "@string(activity('Bronze Notebook').output.runOutput)",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks1",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Gold Notebook",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Silver Notebook",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/cesar_ernesto72@hotmail.com/earthquake_project/Gold notebook",
                    "baseParameters": {
                        "bronze_params": {
                            "value": "@string(activity('Bronze Notebook').output.runOutput)",
                            "type": "Expression"
                        },
                        "silver_params": {
                            "value": "@string(activity('Silver Notebook').output.runOutput)",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks1",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2025-05-18T20:05:31Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
